@media only screen and (min-width: 769px) {
	.App {
		width: 65%;
		margin: auto;
	}
}

.investor-view-header,
.companies-view-header {
	padding: 2rem 0;
	text-align: left;
	display: flex;
}

.investor-view-header .title,
.companies-view-header .title {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 2rem;
}

.add-investor-btn,
.add-companies-btn {
	font-size: 1.5rem;
	font-weight: 500;
	margin-right: 2rem;
	background: #ffffff;
	border-radius: 3px;
	border: 1px solid #3f51b5;
	color: #3f51b5;
	padding: 0.5rem 1rem;
	-moz-box-shadow: inset 0 0 2px #3f51b5;
	-webkit-box-shadow: inset 0 0 2px #3f51b5;
	box-shadow: inset 0 0 2px #3f51b5;
	cursor: pointer;
}

.table-row-loading {
	display: flex;
	width: 100%;
	height: 2rem;
}

.table-footer-loading {
	padding: 1rem;
	height: 2rem;
	background: rgba(0, 0, 0, 0.15);
	width: 50%;
	float: right;
}

.loading-animation {
	background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
	background-size: 500px 10px;
	animation-name: moving-gradient;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.MuiTablePagination-caption,
.MuiTablePagination-select {
	font-weight: bold !important;
	font-size: 1.2rem !important;
}

.table-loading-error {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 75vh;
}

.table-loading-error span {
	font-size: 2rem;
}

.add-investor-btn:focus {
	outline: none;
}

@keyframes moving-gradient {
	0% {
		background-position: -250px 0;
	}
	100% {
		background-position: 250px 0;
	}
}
